node_modules/
.DS_Store
*.log
.next/
.build/
variables.env
*.env

# mobile / react-native
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.apk

# cypress
cypress/screenshots
cypress/videos

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
